fastapi
uvicorn[standard]
python-dotenv

sqlalchemy
pymysql
alembic

PyJWT
cryptography
email-validator
werkzeug

python-magic-bin # tira o "-bin" se estiver no linux
requests
pydantic>=2.0
pydantic[email]
pyyaml

openai
tiktoken
google-generativeai
sentence-transformers
chromadb

python-docx
python-pptx
openpyxl
pypdf2
odfpy
beautifulsoup4
striprtf
defusedxml

google-auth
google-auth-oauthlib
